<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>{{insert1}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href={{url_for('static', filename='bg.css')}}>
</head>
<body>
    <center>
    <nav>
    <div class="nav-wrapper red">
      <a href="#" class="brand-logo" style="position: fixed;"><marquee>Digimon Tidak Ditemukan</marquee></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      </ul>
        </div>
    </nav>
    <img src="../static/tenor.gif" alt="" />
    <br>
    <a href="http://127.0.0.1:5000/">
    <button type="button" class="btn btn-info btn-lg waves-effect red"><i class="material-icons left">keyboard_arrow_left</i>Kembali</button>
    </a>
    </center>
</body>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
</html>