<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{insert1}} Data</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href={{url_for('static', filename='bg.css')}}>
</head>
<body>
        <h3>Favorite</h3>
        <a class="btn-large green" style="margin-top:2%; color:darkgreen">{{insert1.capitalize()}}</a>
        <br>
        <img src="{{insert3}}" width="80" height="80">
        <br>
        <a class="waves-effect waves-light btn-small green" title="ID Pokemon" ><i class="material-icons left">assignment_ind</i>{{insert2}}</a>
        <a class="waves-effect waves-light btn-small yellow" title="Weight Pokemon"><i class="material-icons left">restaurant</i>{{insert5}}</a>
        <a class="waves-effect waves-light btn-small green" title="Height Pokemon"><i class="material-icons left">publish</i>{{insert4}}</a>
        <br>
        <h3>Recommendation</h3>
        <a class="btn-large green" style="margin-top:2%; color:darkgreen">{{recom1.capitalize()}}</a>
        <br>
        <img src="{{recom2}}" width="80" height="80">
        <br>
        <a class="waves-effect waves-light btn-small green" title="ID Pokemon" ><i class="material-icons left">assignment_ind</i>{{recom3}}</a>
        <a class="waves-effect waves-light btn-small yellow" title="Weight Pokemon"><i class="material-icons left">restaurant</i>{{recom4}}</a>
        <a class="waves-effect waves-light btn-small green" title="Height Pokemon"><i class="material-icons left">publish</i>{{recom5}}</a>
        <br>
        <a class="btn-large green" style="margin-top:2%; color:darkgreen">{{recom6.capitalize()}}</a>
        <br>
        <img src="{{recom7}}" width="80" height="80">
        <br>
        <a class="waves-effect waves-light btn-small green" title="ID Pokemon" ><i class="material-icons left">assignment_ind</i>{{recom8}}</a>
        <a class="waves-effect waves-light btn-small yellow" title="Weight Pokemon"><i class="material-icons left">restaurant</i>{{recom9}}</a>
        <a class="waves-effect waves-light btn-small green" title="Height Pokemon"><i class="material-icons left">publish</i>{{recom10}}</a>
        <br>
        <a class="btn-large green" style="margin-top:2%; color:darkgreen">{{recom11.capitalize()}}</a>
        <br>
        <img src="{{recom12}}" width="80" height="80">
        <br>
        <a class="waves-effect waves-light btn-small green" title="ID Pokemon" ><i class="material-icons left">assignment_ind</i>{{recom13}}</a>
        <a class="waves-effect waves-light btn-small yellow" title="Weight Pokemon"><i class="material-icons left">restaurant</i>{{recom14}}</a>
        <a class="waves-effect waves-light btn-small green" title="Height Pokemon"><i class="material-icons left">publish</i>{{recom15}}</a>
        <br>
        <a class="btn-large green" style="margin-top:2%; color:darkgreen">{{recom16.capitalize()}}</a>
        <br>
        <img src="{{recom17}}" width="80" height="80">
        <br>
        <a class="waves-effect waves-light btn-small green" title="ID Pokemon" ><i class="material-icons left">assignment_ind</i>{{recom18}}</a>
        <a class="waves-effect waves-light btn-small yellow" title="Weight Pokemon"><i class="material-icons left">restaurant</i>{{recom19}}</a>
        <a class="waves-effect waves-light btn-small green" title="Height Pokemon"><i class="material-icons left">publish</i>{{recom20}}</a>
        <br>
        <a class="btn-large green" style="margin-top:2%; color:darkgreen">{{recom21.capitalize()}}</a>
        <br>
        <img src="{{recom22}}" width="80" height="80">
        <br>
        <a class="waves-effect waves-light btn-small green" title="ID Pokemon" ><i class="material-icons left">assignment_ind</i>{{recom23}}</a>
        <a class="waves-effect waves-light btn-small yellow" title="Weight Pokemon"><i class="material-icons left">restaurant</i>{{recom24}}</a>
        <a class="waves-effect waves-light btn-small green" title="Height Pokemon"><i class="material-icons left">publish</i>{{recom25}}</a>
        <br>
        <a class="btn-large green" style="margin-top:2%; color:darkgreen">{{recom26.capitalize()}}</a>
        <br>
        <img src="{{recom27}}" width="80" height="80">
        <br>
        <a class="waves-effect waves-light btn-small green" title="ID Pokemon" ><i class="material-icons left">assignment_ind</i>{{recom28}}</a>
        <a class="waves-effect waves-light btn-small yellow" title="Weight Pokemon"><i class="material-icons left">restaurant</i>{{recom29}}</a>
        <a class="waves-effect waves-light btn-small green" title="Height Pokemon"><i class="material-icons left">publish</i>{{recom30}}</a>
        <br>
        <a href="http://127.0.0.1:5000/">
            <button type="button" class="btn btn-info btn-lg waves-effect red"><i class="material-icons left">keyboard_arrow_left</i>Kembali</button>
        </a>
</body>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
</html>